@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import "./header.css";
@import "./global.css";
@import "./introduçao.css";
@import "./experiencia.css";
@import "./formaçao.css";
